<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Mi Punto de Venta</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </head>
    <body>
        <header>

        </header>

        <div id="alert-boxsale"></div>
        <div class="container custom-container">
            <div class="background-image"></div>
            <div class="row main-content">
                @RenderBody()
            </div>
        </div>
        <footer>
            <div>
                <div>
                    
                </div>
            </div>
        </footer>

    </body>
</html>
