.header-empresa {
    height: 60px; 
    background-color: #ff8989
}

.form-empresa-container {
    padding-top:100px
}

.form-group {
    margin-bottom:5px;
    padding: 0px 100px;
}

.btn-sale {
    color: #333;
    background-color: #ff8989;
    float: right;
    margin: 20px 100px;
}
